@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  .navbar__logo {
    color: #ffffff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-family: "RocknRoll One", sans-serif;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    .navbar__links {
      color: #ffffff;
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-family: "Montserrat", sans-serif;
    }
    .navbar__links:hover {
      background-color: #fe9752;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }
    .navbar__links--highlight {
      display: none;
    }
  }
}
