@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

.container--signin {
  min-height: 100vh;
  display: flex;
}

.font--white {
  font-family: "Secular One", sans-serif;
  color: #ffffff;
}

.font--black {
  font-family: "Secular One", sans-serif;
  color: #000000;
}

.left--signin {
  width: 50vw;
  background: #000000;
}

.right--signin {
  width: 50vw;
  background-color: #ffffff;
}

.container--left__signin {
  margin: 16% 10% 0% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 60vh;
}

.container--right__signin {
  margin: 20% 10% 0% 10%;
}

#solicite {
  margin-top: 5%;
}

.left--signin p {
  font-size: 2em;
  letter-spacing: 2px;
}

.container--signup {
  min-height: 100vh;
  display: flex;
}

.left {
  width: 50vw;
  background-color: #ffffff;
}

.container--left {
  margin: 10% 10% 0% 10%;
}

.button--signup {
  margin-top: 5% !important;
  width: 100%;
  background-color: #000000 !important;
  border: none;
}

.button--text {
  color: #e8e8e8;
}

.right {
  width: 50vw;
  background: #000000;
}

.container--right {
  margin: 20% 15% 0% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 60vh;
}

.right p {
  font-family: "Secular One", sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
}
