@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
h2{
margin-top: 100px;
margin-bottom: 50px;
font-size: 35px;
font-family: "Secular One", sans-serif;
}

p{
  font-family: "Secular One", sans-serif;
}