@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.mainpage__section {
  background-color: black;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .mainpage__section--image {
    position: relative;
    top: -40px;
    width: 1050px;
    max-height: 600px;
    align-self: center;
    z-index: 1;
  }
  .mainpage__section--schedule {
    background-color: #ffffffff;
    border: 1px solid #dddddd;
    border-radius: 32px;
    box-shadow: 0px 16px 32px rgb(0 0 0 / 15%), 0px 3px 8px rgb(0 0 0 / 10%);
    height: 80px;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    z-index: 2;
    .mainpage__section--schedule-items {
      margin: 20px;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      align-self: center;
      .mainpage__section--schedule-label {
        font-family: "Montserrat", sans-serif;
      }
    }
    .btn {
      background-color: #6d76f7;
      border: none;
      color: #ffffff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 32px;
      font-weight: 300;
      font-family: "proxima_nova_rgregular", sans-serif;
      span {
        align-self: center;
      }
    }
  }
}
