@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.mainpage {
  background-color: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
